@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.App {
  width: 100%;
  font-family: 'DynaPuff', cursive;
}

.usersWrapper {
  outline: 2px solid purple;
  border-radius: 20px;
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.usersContent {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.userCard {
  width: 27%;
  height: 110px;
  outline: 2px dotted limegreen;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.userCard h4 {
  margin-top: 15px;
}

.success,
.error,
.loader {
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 44%;
  width: 160px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.loader {
  background-color: grey;
}
.success {
  background-color: lime;
}
.error {
  background-color: orange;
}